@tailwind base;
@tailwind components;
@tailwind utilities;


.lightpick {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    /* width: 400px !important; */
    max-width: fit-content !important;
}

/* .lightpick__month {
    width: 395px !important;
} */